doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous')
    title Home Page!
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href='#') Web Application
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(aria-current='page' href='/') Home
            li.nav-item
              a.nav-link(href='/ourservices') Our Services
            li.nav-item
              a.nav-link(href='contact_us') Contact us
            li.nav-item
              a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true')  
    img(src='images/fast-service.jpg' ) 
    .container.p-3.my-3.bg-info.text-white
      h1 Présentation 
      p
        | Posséder son propre site web est devenu tout simplement incontournable pour toute entreprise qui propose des produits ou des services en B2B ou B2C et qui se doit de pouvoir être facilement identifiée sur la toile, même si elle ne souhaite pas évoluer dans le e-commerce.
    .container.p-3.my-3.bg-dark.text-white
      h1 Le niveau de service et l'assistance
      p
        | Parce que créer un site ne va pas de soi, même avec un outil de création, vous devez pouvoir compter sur un service d'assistance ou, s’il n’y en a pas, un forum d'utilisateurs expérimentés.
       