body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
margin: 5px;
}

a {
  color: #00B7FF;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;

}
form{
  padding: 5px;
  margin: 15px;
  width: 1000px;
}
